<div class="row mt-5">
  <div class="col-1"></div>
  <div class="col-4 mt-5">
    <h1 class="" style="font-size:50px">
     <b> Fastest Delivery</b>
    </h1>
    <h1 class="" style="font-size:50px">
      <b> And</b>
     </h1>
     <h1 class="" style="font-size:50px">
      <b> Easy Pick Up</b>
     </h1>
     <p class="mt-5">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
      making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
      obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered
      the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil)
      by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
      "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
     </p>
     <br>
     <a class="btn klik-info" href="/home#info"> About Us </a>
     <a class="btn klik-contact" href="/home#contact">Contact </a>
  </div>
  <div class="col-1"></div>
  <div class="col-6 kotak">
    <div class="row p-5">
    </div>
  </div>

</div>
<br><br><br><br><br><br><br><br><br>
<div id="info">
  <h1 class="text-center fs-1" id="info-title">Info</h1><br><br><br>
  <div class="row container">
    <div class="col-1"></div>
    <div class="col-4">
      <img src="../../../assets/img/background/resto-jawa.jpg" style="width:100%; border-radius:20px;">
    </div>
    <div class="col-1"></div>
    <div class="col-6">
    <p style="text-align:justify;">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
      Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
      Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
      Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
      undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
      Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory
      of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..",
      comes from a line in section 1.10.32.
    </p>
  </div>
</div>
<br><br><br><br><br><br>
<div id="contact">
  <div class="row">
    <div class="col-6 bg-dark" style="height:225px">
      <h1 class="text-center text-white fs-1 mt-3" id=""><b>We're here</b></h1>
      <p class="text-white p-5 fs-6"><b>Address</b>: Jl. Pahlawan Trip No.5, Oro-oro Dowo, Kec. Klojen, Kota Malang, Jawa Timur 65119<br><br>
      <b>Hours</b>: Open ⋅ Closes 9PM</p>
    </div>
    <div class="col-6 bg-light" style="height:225px">
      <h1 class="text-center fs-1 mt-3" id=""><b>Let's Have Talk</b></h1>
      <p class=" p-5 fs-6"><b>Phone</b>: (0341) 557989</p>

    </div>
  </div>
</div>
